button {
  padding: 0.5rem 0.8rem;
}

.playerHandContainer,
.cpuHandContainer {
  display: flex;
  gap: 1rem;
}

.card {
  width: 110px;
  height: 150px;
  border: 1px rgb(196, 196, 196) solid;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.1rem;
  background-color: white;
}

.upperCornerCard,
.lowerCornerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  line-height: 1.2;
}

.lowerCornerCard {
  transform: scaleY(-1);
}

.mainCard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
}
